<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2}">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>统一身份认证中心</title>
</head>

<body>
<main>
	 <div layout:fragment="content" id="content">
		<div class="wrapper">
  <!-- Full Width Column -->
  <div class="content-wrapper" id="context_div" style="background-color: ;">
    <div class="container" >
	    <div class="row" style="background-color: white;" id="list_div" >
	    	<div class="panel panel-default" id="panel" style="margin-bottom:0px;">
				<div class="panel-heading" style="background-color: #D9EDF7; color: #31708F;">
					<h3 class="panel-title">
					<a th:href="@{/login}" style="font-size:14px">
						<i class="fa fa-fw fa-home"></i>控制台
					</a> > 
						<span style="font-size:14px"> 修改密码</span>
					</h3>
				</div>
			<div class="panel-body" style="min-height: 300px;">
				<i class="fa fa-fw fa-key"></i> 修改密码
				<hr/>
				<div class="col-sm-2"></div>
			      <div class="col-sm-7">
			      	<form method="post" id="fm2" class="form-horizontal" role="form" th:object="${userinfo}" th:action="@{/changepwd(account=${principal.id})}">
						<div class="form-group">
							<label for="account1" class="col-sm-3 control-label"></label>
							<div class="col-sm-7">
								<div id="msg" class="errors" th:if="${#fields.hasErrors('*')}">
									<span th:each="err : ${#fields.errors('*')}" th:utext="${err}">Example error</span>
								</div>						
							</div>							
							<div class="col-sm-2" style="padding-top:10px; padding-left:0px; color: red ">
								
							</div>
						</div>			
						
						<div class="form-group">
							<label for="account1" class="col-sm-3 control-label">用户名</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="account1" name="account1" placeholder="请输入用户名" 
									th:value="${principal.id}" readonly="readonly">								
							</div>							
							<div class="col-sm-2" style="padding-top:10px; padding-left:0px; color: red ">
								*
							</div>
						</div>
						
						<div class="form-group">
							<label for="oldpwd" class="col-sm-3 control-label">原口令</label>
							<div class="col-sm-7">
								<input type="password" class="form-control" id="oldpwd"  name="oldpwd" placeholder="请输原口令">
							</div>
							
							<div class="col-sm-2" style="padding-top:8px; padding-left:0px; color: red ">
							 	<!-- <span th:each="err : ${#fields.errors('*')}" th:utext="${err}">Example error</span> -->
							 	<span style="padding-top:10px;">*</span>
							 </div>
						</div>
						
						<div class="form-group">
							<label for="newpwd" class="col-sm-3 control-label">新口令</label>
							<div class="col-sm-7">
								<input type="password" class="form-control" id="newpwd"  name="newpwd" placeholder="请输新口令">
							</div>
							<div class="col-sm-2" style="padding-top:10px; padding-left:0px; color: red ">
								<!-- <span th:each="err : ${#fields.errors('*')}" th:utext="${err}">Example error</span> -->
							 	<span style="padding-top:10px;">*</span>
							</div>
						</div>
						
						<div class="form-group">
							<label for="again" class="col-sm-3 control-label">新口令确认</label>
							<div class="col-sm-7">
								<input type="password" class="form-control" id="again"  name="again" placeholder="新口令确认">
							</div>
							<div class="col-sm-2" style="padding-top:10px; padding-left:0px; color: red ">
								<!-- <span th:each="err : ${#fields.errors('*')}" th:utext="${err}">Example error</span> -->
							 	<span style="padding-top:10px;">*</span>
							 </div>
						</div>
						<section class="row btn-row">
							<input type="hidden" name="execution" th:value="${flowExecutionKey}" />
							<input type="hidden" name="_eventId" value="submit" />
						</section>				
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-8">
								<button type="submit" class="btn btn-primary">提交</button>
								<button type="reset" class="btn btn-default">重置</button>
							</div>
						</div>
					</form>
				</div>
			  </div>
			</div>		
    	 </div>
	  </div>
	</div> 
</div>
	</div>


	</main>
</body>
</html>
