<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2}">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- <title th:text="#{screen.success.header}">Generic Success View</title> -->
    <title>统一身份认证中心</title>
</head>
<body>
<main>
	<div layout:fragment="content">
		<div class="wrapper">
			<div class="content-wrapper" id="context_div">
				<div class="container">
					<div class="row" style="background-color: white;" id="list_div">
						<div class="panel panel-default" id="panel" style="margin-bottom: 0px;">
							<div class="panel-heading" style="background-color: #D9EDF7; color: #31708F;">
								<h3 class="panel-title">
									<a th:href="@{/login}" style="font-size: 14px"> <i class="fa fa-fw fa-home"></i>控制台 </a> > <span style="font-size: 14px">资源列表</span>
								</h3>
							</div>

							<div class="box-body">
								<div class="callout callout-success alert alert-dismissible" style="margin-top: 10px; margin-bottom: 0px">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									<i class="fa fa-check-circle"></i> 欢迎使用密码安全服务平台，用户<span th:utext="${principal.id}" />，您已成功登录身份认证中心，为保证信息安全，退出后请关闭浏览器。
								</div>
							</div>

							<div class="panel-body" style="min-height: 400px; padding-top: 5px">
								<i class="fa fa-list"></i> 可访问的资源列表
								<hr />
								<div class="row">
									<span th:each=" app : ${principal.attributes.zzapp_multi}">
										<div class="col-sm-6 col-md-2 " th:with="items=${#strings.listSplit(app,';')}">
											<!--顺序： type id name url logo -->
											<div class="thumbnail">
												<a th:href="@{${items[3]}}" target="_blank"> 
													<img th:src="@{/images/zy_logo.png}">
												</a>
												<div class="caption">
													<a th:href="@{${items[3]}}" target="_blank"> <span th:utext="${items[2]}" /></a>
													<!-- <div class="btn-group">
														<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
															<span class="caret"></span>
														</button>
														<ul class="dropdown-menu  pull-left" role="menu">
															<li><a
																href="binduser?bind=true&account=${principal.getAttributes().get('account')}&serviceId=${appids[loop.count-1]}"><i
																	class="fa fa-fw fa-lock"></i>绑定用户</a></li>
															<li><a
																href="binduser?bind=false&account=${principal.getAttributes().get('account')}&serviceId=${appids[loop.count-1]}"><i
																	class="fa fa-fw fa-unlock"></i>解除绑定</a></li>
														</ul>
													</div> -->
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	</main>
</body>
</html>
