<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{cas.login.pagetitle}">CAS Acceptable Use Policy View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
	<link rel="stylesheet" th:href="@{/AdminLTE-2.3.11/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/AdminLTE-2.3.11/dist/css/AdminLTE.min.css}">
	<link rel="stylesheet" th:href="@{/AdminLTE-2.3.11/plugins/iCheck/square/blue.css}">
</head>

<body class="login">

    <div layout:fragment="content">
        <div>
        	<!-- 关于thymeleaf th:replace th:include th:insert 的区别 -->
			<!-- th:insert   ：保留自己的主标签，保留th:fragment的主标签。 -->
			<!-- th:replace ：不要自己的主标签，保留th:fragment的主标签。 -->
			<!-- th:include ：保留自己的主标签，不要th:fragment的主标签。（官方3.0后不推荐） -->
			
			<!-- 引入fragments/loginform页面的loginform标签的内容 -->
            <div th:replace="fragments/loginform :: loginform"><a href="fragments/loginform.html">Login Form goes
                here</a></div>
        </div>
        
    </div>

</body>
</html>
