<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Footer Fragment</title>
    
</head>
<body>
    <footer th:fragment="footer" class="main-footer" id="footer">  <!-- class="footer" role="contentinfo" -->
	      <div align="center" >
			Copyright &copy; 2003&ndash;2018 <a href="http://www.suresec.net" style="color:#1F83C1" target="_blank">山东确信信息产业股份有限公司</a> All rights reserved. 
		  </div>
	</footer>
</body>
</html>
