<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>统一身份认证中心</title>
</head>
<body>
	<div th:fragment="loginform" class="card">
	<!-- 确信key控件 -->
	<object id="SureKey" width="0" height="0" hidden="hidden" classid="CLSID:8E2574DD-D108-4931-A866-E8B83803790C" codebase="@{/cab/SureKeyAtl.cab}#version=1,0,1,1">
	</object> 
		<div style="height: 100%;">
			<div id="background"
				style="position: fixed; top: 15%; height: 70%; width: 100%;">
				<div id="background_login"
					style="position: fixed; top: 20%; left: 63%; height: 60%; width: 23%; background-color: #fff; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
					class="nav-tabs-custom">
					<ul class="nav nav-tabs" style="width: 100%;">
						<li id="verificationCode_tab"
							style="text-align: center; width: 50%; margin: 0px;"
							onclick="removeErrors()"><a href="#tab_1" data-toggle="tab">用户名登录</a></li>
						<li id="verifySign_tab"
							style="text-align: center; width: 50%; margin: 0px;"
							onclick="removeErrors()"><a href="#tab_2" data-toggle="tab">证书登录</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane" id="tab_1">
							<div style="position: relative; padding: 0px 2%;">
								<div class="login-logo"
									style="margin-bottom: 0px; padding-top: 2%;">
									<img title="http://www.suresec.net/"
										onclick="location.reload()"
										style="border: 1px #ffffff solid; background: white"
										th:src="@{/images/lock.png}" id="imglogo" height="70"
										width="70">
								</div>
								<p class="login-box-msg"></p>
								<form method="post" id="fm1" th:object="${credential}" action="login">
									<div id="msg" class="errors" th:if="${#fields.hasErrors('*')}">
										<span th:each="err : ${#fields.errors('*')}" th:utext="${err}">Example error</span>
									</div>
									<div class="form-group has-feedback">
										<input type="text" class="form-control" name="username" id="username" placeholder="请输入账号"> 
										<span class="glyphicon glyphicon-user form-control-feedback"></span>
									</div>
									<div class="form-group has-feedback">
										<input type="password" class="form-control" name="password" id="password" placeholder="请输入密码"> 
										<span class="glyphicon glyphicon-lock form-control-feedback"></span>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" style="float: left; width: 30%;" id="verification_code" name="verificationCode" placeholder="验证码" /> 
										<a href="javascript:void(0)" onclick="javascript:changeCheckCode()">
											<img th:src="@{/getCaptcha}" title="看不清？换一张" class="highset" style="border: 1px solid #cccccc; margin-top: 0px; float: right; height: 100%" 
											id="checkImgMobile" name="checkImg"> 
										</a>
										
									</div>
									<div class="form-group" style="margin-top: 23%;">
										<button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
									</div>
									<input type="hidden" value="verificationCode" name="submitMode" id="submitMode" /> 
									<section class="row btn-row">
										<input type="hidden" name="execution" th:value="${flowExecutionKey}" />
										<input type="hidden" name="_eventId" value="submit" />
									</section>
								</form>
							</div>
						</div>
						<div class="tab-pane" id="tab_2">
							<div style="position: relative; padding: 0px 2%;">
								<div class="login-logo"
									style="margin-bottom: 0px; padding-top: 2%;">
									<img title="http://www.suresec.net/"
										onclick="location.reload()"
										style="border: 1px #ffffff solid; background: white"
										src="images/lock.png" id="imglogo" height="70" width="70">
								</div>
								<p class="login-box-msg"></p>
								<form method="post" id="fm2" th:object="${credential}" action="login">
									<div id="msg" class="errors" th:if="${#fields.hasErrors('*')}">
										<span th:each="err : ${#fields.errors('*')}" th:utext="${err}">Example error</span>
									</div>
									<div class="form-group has-feedback">
										<input type="text" class="form-control" readonly="readonly" id="show_DN" placeholder="DN" title="点击获取DN" onclick="get_DN()" style="cursor: pointer"> 
											<span class="glyphicon glyphicon-user form-control-feedback"></span>
									</div>
									<div class="form-group has-feedback">
										<input type="password" class="form-control" name="keypin" id="keypin" placeholder="key口令"> 
										<span class="glyphicon glyphicon-lock form-control-feedback"></span>
									</div>
									<div class="form-group" style="margin-top: 23%;">
										<button type="button" id="btn_submit" class="btn btn-primary btn-block btn-flat">登录</button>
									</div>
									<input type="hidden" name="signvalue" id="signvalue" /> 
									<input type="hidden" name="CertDN" id="CertDN" /> 
									<input type="hidden" name="sInData" id="sInData" /> 
									<input type="hidden" name="cert_flag" id="cert_flag" /> 
									<input type="hidden" name="submitMode" value="verifySign" />
									<section class="row btn-row">
										<input type="hidden" name="execution" value="${flowExecutionKey}" /> 
										<input type="hidden" name="_eventId" value="submit" />
									</section>
								</form>
							</div>
						</div>
						
	<script type="text/javascript" th:inline="javascript">
	var i = [[#{screen.welcome.button.loginwip}]]
	$( document ).ready(function() {
		$("#background").backstretch("images/3.jpg");
	    $('input').iCheck({
	      checkboxClass: 'icheckbox_square-blue',
	      radioClass: 'iradio_square-blue',
	      increaseArea: '20%' // optional
	    });
	  	var sumbitMode = $("#submitMode").val();
	    if(sumbitMode!= ""){
	    	$("#"+sumbitMode+"_tab").addClass("active");
	    	var tab = $("#"+sumbitMode+"_tab > a").attr("href");
	    	$(tab).addClass("active");
	    }else{
	    	$("#verificationCode_tab").addClass("active");
	    	var tab = $("#verificationCode_tab > a").attr("href");
	    	$(tab).addClass("active");
	    }
	    if(isIE()){
	    	show_DN();
	    }
		
		
	    $("#fm1").submit(function () {
	        $(":submit").attr("disabled", true);
	        $(":submit").attr("value", i);
	        console.log(i);
	        return true;
	    });
	    
	});
	
	function changeCheckCode() {
		//获取主机地址之后的目录，如： uimcardprj/share/meun.jsp
	    var pathName=window.document.location.pathname;
	  	//获取带"/"的项目名，如：/uimcardprj
	    var projectName=pathName.substring(0,pathName.substr(1).indexOf('/')+1);
		$("#checkImgMobile").attr("src",projectName+"/getCaptcha?id=" + new Date() + Math.floor(Math.random()*24));
	}
	function removeErrors(){
		$(".errors").remove();
	}
	function get_DN(){
		removeErrors();
		show_DN();
	}
	function show_DN(){
		if (!isIE()){
			errors_show("请使用IE游览器");
			return; 	
		}
		var DN = GetCertDetailInfo();
		if(DN == false){
			return;
		}
		$("#show_DN").val(DN);
	}
	//错误提示
	function errors_show(error_content) {
		removeErrors();
		$("#fm2").prepend('<div class="errors" id="msg">'+ error_content +'</div>');
	}
	
	function isIE() { //ie?
	    if (!!window.ActiveXObject || "ActiveXObject" in window)
	      return true;
	    else
	      return false;
	  }
	var FacId = -1; //厂商标识
	var cert_flag;  //加密算法
	$("#btn_submit").click(function(){
		if (!isIE()){
			errors_show("请使用IE游览器");
			return; 	
		}
		if(GetCertDetailInfo() == false){
			return;
		}
		var sInData = "${randStr}"; //16位随机字符串
		$("#sInData").val(sInData);
		var keypin = $("#keypin").val(); //获取keypin
		if(keypin == ""){
			errors_show("请输入key口令");
			return;
		}
		//验证key口令
		if(VerifyPin(keypin) != 0){
			return;
		}
		//签名值
		SignData(keypin,sInData);	
		$("#fm2").submit();
	});
	
	//签名值
	function SignData(keypin,sInData)
	{
		var sOutData = SureKey.SignData(FacId, cert_flag, keypin, sInData, sInData.length );
		$("#signvalue").val(sOutData);
		
	}
	//验证key口令
	function VerifyPin(keypin)
	{
		var ret = SureKey.VerifyUserPin(FacId, keypin);
		if( 0 != ret){
			var LastErr = SureKey.GetLastError();
			errors_show("密码剩余次数" + LastErr);
		}
		return ret;
	}
	
	//获取DN
	function GetCertDetailInfo()
	{
		var sCertDetailData = SureKey.GetCertDetailInfo(FacId);
		if(sCertDetailData == ""){
			errors_show("请插入key");
			return false;
		}
		var obj = JSON.parse(sCertDetailData);
		var DN;
		if(obj.RsaCert != undefined){
			DN = obj.RsaCert.CertDN
			cert_flag = 0;
		}else{
			DN = obj.SM2Cert.CertDN;		
			cert_flag = 1;
		}
		$("#CertDN").val(DN);	
		$("#cert_flag").val(cert_flag);
		return DN;
		
	}
	</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
